<div *ngIf="!isLoading; else loading" class="flex flex-col h-full">
  <header class="flex px-3 items-center justify-between">
    <h1 class="text-4xl text-red-400">Shoppu</h1>
    <ul class="flex items-center gap-5 pr-10 text-red-400 text-lg">
      <li>{{ username }}</li>
      <li>
        <button (click)="logout()">Logout</button>
      </li>
    </ul>
  </header>
  <div class="nav-main-container flex flex-grow">
    <nav class="text-lg text-red-400 pt-3">
      <ul>
        <li 
        class="nav-li">
          <div class="custom-dropdown flex flex-col" >
            <div class="flex flex-wrap justify-between" (click)="orderTab()">
              <span>Order</span>
              <img src="up-arrow.svg" alt="" [@myAnimationTrigger]="imageState">
            </div>
            <div class="flex flex-wrap flex-col text-sm" [@myAnimationTrigger]="currentState" *ngIf="isOrderOpen">
              <span>&nbsp;&nbsp;My Order</span>
              <span>&nbsp;&nbsp;Return / Refund /Cancel</span>
            </div>
          </div>
        </li>
        <li 
        class="nav-li"
        [ngClass]="{ 'active' : activeTab === 'products' }"
        (click)="clickedTab('products')">
          My Products
        </li>
        <li
        class="nav-li"
        [ngClass]="{ 'active' : activeTab === shopName.replaceAll(' ', '-') }"
        (click)="clickedTab(shopName.replaceAll(' ', '-'))">
          My Shop
        </li>
      </ul>
    </nav>
    <main class="p-4" style="flex: 1;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<ng-template #loading>
  <app-loading-screen></app-loading-screen>
</ng-template>