:host {
  display: block;
  height: 100%;
}

header{
  border-bottom: 1px solid #ff6467;
  height: 4rem;
}

input[type="text"]{
  width: 30%;
  outline: #ff6467;
}

.search-btn{
  background-color: #ff6467;
  height: 2rem;
  border-radius: 1rem;
}

.search-btn:hover{
  background-color: rgba(255, 100, 103, .4);
  transition: .3s;
}

.cart-icon{
  width: 4rem;
  cursor: pointer;
}

.cart-icon:hover{
  opacity: .5;
}

main{
  background-color: rgb(245, 245, 245);
}

.logout-btn:hover{
  opacity: .5;
  cursor: pointer;
  transition: .3s;
}