input{
  width: 13%;
  border: 1px solid #ff6467;
  outline-color: #ff6467;
}

th, td{
  border: 1px solid #ff6467;
  text-align: center;
}

button{
  width: 10%;
}

button:hover{
  background-color: transparent;
  color: #ff6467;
  transition: .3s;
}