<h1 class="text-3xl text-red-400">User List</h1>
<form class="flex mb-2 gap-3" #searchForm="ngForm" (ngSubmit)="searchUser(searchForm)">
  <input class="px-2 rounded-md" type="text" placeholder="Search user by ID or Username" name="userOrId" #userOrId="ngModel" [(ngModel)]="searchInput.userOrId" required>
  <button class="bg-red-400 rounded-md text-white" type="submit">Search</button>
</form>
<table *ngIf="users$ != null" class="border border-red-400 w-full">
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Password</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
    </tr>
  </tbody>
</table>
<table *ngIf="user$ | async as user" class="border border-red-400 w-full">
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Password</th>
  </thead>
  <tbody>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
    </tr>
  </tbody>
</table>