<h1 class="text-3xl text-red-400">User List</h1>
<form class="flex mb-2 gap-3" #searchForm="ngForm" (ngSubmit)="searchUser(searchForm)">
  <input class="px-2 rounded-md" type="text" placeholder="Search user by ID or Username" name="userOrId" #userOrId="ngModel" [(ngModel)]="searchInput.userOrId" required>
  <button class="bg-red-400 rounded-md text-white" type="submit">Search</button>
</form>

<!-- For users -->
<ng-container *ngIf="users$ | async as users; else singleUser">
  <table class="border border-red-400 w-full">
  <thead> 
    <th *ngFor="let column of columnName">{{ column }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
    </tr>
  </tbody>
</table>
</ng-container>

<!-- For a single user -->
<ng-template #singleUser>
  <ng-container *ngIf="user$ | async as user; else noUser">
    <table class="border border-red-400 w-full">
    <thead>
      <th *ngFor="let column of columnName">{{ column }}</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
      </tr>
    </tbody>
  </table>
  </ng-container>
</ng-template>

<ng-template #noUser>
  <h1>No users available</h1>
</ng-template>